

.btn-success{
    background-color: black;
}


 h5{
    padding-left: 100px;
    padding-top: 80px;
 } 
  
.btn{
    margin-left: 1080px;
    margin-top: -45px;

}
img{
    margin-left: 100px;
    margin-top: 50px;
}
.btn-primary{
    margin-left: 1057px;
    margin-top: 50px;
}
p{
    margin-left: 20px;
}
@media screen and (max-width: 768px){
    .navbar-nav{
        padding-left: 0px;
    }
    .logo{
        margin-left: 0px;
    }
    .btn{
        margin-left: 0px;
    }
    .btn-primary{
        margin-left: 0px;
    }
    img{
        margin-left: 0px;
    }
    h5{
        padding-left: 0px;
    }
} 
#searchbar{
    margin-left: 100px;
    padding:15px;
    border-radius: 10px;
  }

  input[type=text] {
     width: 80%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }

  /* When the input field gets focus,
       change its width to 100% */
  input[type=text]:focus {
    width: 25%;
  }

 #list{
   font-size:  1.5em;
   margin-left: 90px;
  }

/* .ecran{
  display: list-item;    
 }  */

 table
{
    margin-left: 100px
    
    
}
td, th /* Mettre une bordure sur les td ET les th */
{
    padding: 1%;
    text-align: left;
}
th
{
    background-color: #FF700F;
    color: black;
    padding: 1%;
}
#groupe{
    margin-left: 1130px;
}
.groupeEcran{
    border: 1px solid #ddd;
    width: 92%;
}

.groupeEcran tr{
    border-bottom: 1px solid #ddd;
}

#ecranSeul{
    width: 92%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

#ecranSeul tr{
    border-bottom: 1px solid #ddd;
}

#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    width: 80%;
    height: 60%;
    transform: translate(-50%, -50%);
    background-color: #ff6f0f7e;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;

}

#popup.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;

}

#popup a{
    margin-top: 10%;
    margin-left: 10%;
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background-color: #111;
}

#blur.active{
    filter: blur(10px);
}


#popup img{
    width: 20%;
    
}

.card-body {
    height: 500px;
    width: 500px;
}

#title{
    color: rgb(43, 104, 104);
}
