.styleButton{
    background-color:  #FF700F;
}

.mb-3 span{
    color: #3A3A3A;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header{
    background-color: #dedede;
    padding: 5%;
}

#logo{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 7%;
}

.form-control{
    border-radius: 5px;
}